.nav {
  @mixin atSmall {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: $fireBrickDark;
    border: 5px solid $black;
  }
  @mixin atMedium {
    grid-template-columns: 50% repeat(4, 1fr);
  }
  &-link {
    @mixin atSmall {
      padding: 10px 0;
      color: $sandyBrown;
    }
    @mixin atMedium {
    }
  }
}
